html, body {
    height: 100%; /* Garantir que o contêiner ocupe toda a altura */
    margin: 0;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
  }
  
  .campo_texto {
    width: 200px; /* Ajuste a largura conforme necessário */
    padding: 5px;
    font-size: 1;
    box-sizing: border-box; /* Inclui o padding na largura */
  }
  